{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>ASAP</h1>
    <h4>Automated Suite Allocation Program</h4>
    <h4>for Yale-NUS First-Years</h4>
    <div class="text-start">
        <p>
            To begin, please upload a <b>.csv</b> file containing information about the first-years.
            Each row (except the first) should represent a student.
            The first row should contain headers.
            There should be columns representing the following:
        </p>
        <ul>
            <li>Name/Student ID</li>
            <li>School name or ID</li>
            <li>Sex (must be "M" or "F")</li>
            <li>Country (e.g. "Singapore", "United States", etc.)</li>
            <li>Living Preferences (Each question must be multiple choice, and must be ordinal)</li>
        </ul>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Choose File</button>
        </div>
    </form>
    <a href="https://github.com/bernardboey/first-year-allocation/wiki" target="_blank" class="btn btn-secondary"
       type="button">Help</a>
{% endblock %}