{% extends "base.html" %}
{% block title %}Review Data{% endblock %}
{% block content %}
    <div class="text-start mt-2">
        <a class="btn btn-secondary py-0" href="{{ url_for('select_options') }}"><strong>&#x2190;</strong> Back</a>
    </div>
    <h1>Review Data</h1>
    <div class="alert alert-primary mt-4 mb-4">
        <h5 class="mb-0">Please review the following before continuing.
            If you need to change the settings, please do so via the back button.</h5>
    </div>
    <div class="text-start mt-4">
        <h3 class="mb-3">First-Year Suite Allocation</h3>
        <p><i>CSV File: <strong>{{ csv_filename }}</strong></i></p>
        <p>Please check that the columns have been labelled correctly:</p>
        <div class="text-start">
            <table class="table" style="font-size: 0.8rem;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for col in colnames %}
                        <th scope="col">{{ col | truncate(40) }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i, row in head_values %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        {% for value in row %}
                            <td>{{ value | string | truncate(30) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="alert alert-info" role="alert">
            Note: The following numbers exclude students that are allocated to gender inclusive suites.
        </div>
        <p class="fw-bold mb-1">Total Students: {{ total_students }}</p>
        <p>
            No. of Males: {{ num_males }} ({{ num_a11y_males }} accessibility)<br>
            No. of Females: {{ num_females }} ({{ num_a11y_females }} accessibility)
        </p>
        <p class="fw-bold mb-1">Total Suites Available: {{ total_suites }}</p>
        <p>
            Saga sextets: {{ avail_sextets_saga }}<br>
            Saga accessibility: {{ avail_a11y_suites_saga }}<br>
            Elm sextets: {{ avail_sextets_elm }}<br>
            Elm accessibility: {{ avail_a11y_suites_elm }}<br>
            Cendana sextets: {{ avail_sextets_cendana }}<br>
            Cendana accessibility: {{ avail_a11y_suites_cendana }}
        </p>
        <p class="fw-bold mb-1">Required Suites: {{ required_suites }} / {{ total_suites }}</p>
        <p>
            Male suites: {{ required_suites_male }} ({{ required_a11y_suites_male }} accessibility)<br>
            Female suites: {{ required_suites_female }} ({{ required_a11y_suites_female }} accessibility)<br>
        </p>
        <hr class="mt-4 mb-3">
        <h5 class="mb-4">The first-years will be allocated based on demographics (country and school) and
            <strong>{{ num_living_prefs }}</strong> living preferences:</h5>
        {% for col in living_prefs %}
            <div class="mb-4">
                <p class="fw-bold">Living Preference {{ loop.index }}: "{{ col }}"</p>
                <p>Weightage: <strong>{{ weights[col] }}%</strong></p>
                <small class="mb-2">You have chosen the values to be sorted in this order:</small>
                <ol>
                    {% for value in living_pref_order[loop.index0] %}
                        <li>{{ value }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}

    </div>
    <form action="" method="post" enctype="multipart/form-data" class="text-start">
        <div class="mb-2 text-center">
            <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
    </form>
{% endblock %}