{% extends "base.html" %}
{% block title %}Select Weights{% endblock %}
{% block content %}
    <div class="text-start mt-2">
        <a class="btn btn-secondary py-0" href="{{ url_for('verify_living_preferences') }}"><strong>&#x2190;</strong>
            Back</a>
    </div>

    <h1>Select Weights</h1>
    <div class="alert alert-primary mt-4 mb-4">
        <h5 class="mb-2">For each living preference question, please input the corresponding weightage you want that
            question to have.</h5>
        <p class="mb-0">The total weightage across all questions must be 100%. If there are four questions and you
            select the first one as 70% and the rest as 10% each,
            the first question will be prioritised 7 times compared to each of the other questions.</p>
    </div>
    {% if error_msg %}
        <div class="alert alert-danger text-start mb-4">
            <p class="fw-bold">ERROR</p>
            <p class="mb-0">{{ error_msg }}</p>
        </div>
    {% endif %}
    <div class="mb-2">
        <h5 class="mb-1">Remaining weightage to distribute</h5>
        <h5 class="fw-bold" id="remaining-weightage"></h5>
    </div>
    <form action="" method="post" enctype="multipart/form-data" class="text-start">
        {% for col in living_pref_cols %}
            <div class="mb-3">
                <label for="column{{ loop.index0 }}" class="form-label">Weightage for
                    <strong>"{{ col }}"</strong></label>
                <div class="input-group">
                    <input type="number" class="form-control weightage" id="column{{ loop.index0 }}"
                           name="column{{ loop.index0 }}" value="{{ weights[col] }}" min="0" max="100" required>
                    <span class="input-group-text">%</span>
                </div>
            </div>
        {% endfor %}
        <div class="mb-2 text-center">
            <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', updateRemainingWeightage);
        document.addEventListener('keyup', updateRemainingWeightage);

        function updateRemainingWeightage() {
            let sum = 0;
            document.querySelectorAll(".weightage").forEach(element => sum += parseInt(element.value));
            if (sum) {
                document.querySelector("#remaining-weightage").innerHTML = `${100 - sum}`;
                if (100 - sum === 0) {
                    document.querySelector("#remaining-weightage").classList.remove("text-danger");
                    document.querySelector("#remaining-weightage").classList.add("text-success");
                } else {
                    document.querySelector("#remaining-weightage").classList.remove("text-success");
                    document.querySelector("#remaining-weightage").classList.add("text-danger");
                }
            } else {
                document.querySelector("#remaining-weightage").innerHTML = "Error";
                document.querySelector("#remaining-weightage").classList.remove("text-success");
                document.querySelector("#remaining-weightage").classList.add("text-danger");
            }
        }
    </script>
{% endblock %}