{% extends "base.html" %}
{% block title %}Select Column Data Type{% endblock %}
{% block content %}
    <div class="text-start mt-2">
        <a class="btn btn-secondary py-0" href="{{ url_for('home') }}"><strong>&#x2190;</strong> Back</a>
    </div>

    <h1>Select Column Data Type</h1>
    <p class="text-start fw-bold mt-4">{{ csv_filename }}</p>
    <div class="text-start">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                {% for col in colnames %}
                    <th scope="col">{{ col | truncate(20) }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i, row in head_values %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    {% for value in row %}
                        <td>{{ value | truncate(20) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a id="select-column">
        <div class="alert alert-primary mt-4 mb-3">
            <h5 class="mb-0">For each column, please select the kind of data that it represents</h5>
        </div>
    </a>
    {% if error_msg %}
        <div class="alert alert-danger text-start">
            <p class="fw-bold">ERROR</p>
            <p class="mb-0">{{ error_msg }}</p>
        </div>
    {% endif %}
    <form action="{{ url_for("select_column_type", _anchor="select-column") }}" method="post"
          enctype="multipart/form-data" class="text-start">
        {% for col in colnames %}{% set outer_loop = loop %}
            <div class="mb-4">
                <label for="column{{ loop.index0 }}" class="form-label fw-bold mb-0">{{ col }}</label>
                <div class="form-text mb-1">
                    {{ unique_values[loop.index0][:10] }}
                    {% if unique_values[loop.index0] | length > 10 %}
                        (and {{ unique_values[loop.index0] | length - 10 }} more)
                    {% endif %}
                </div>
                <select id="column{{ loop.index0 }}" name="column{{ loop.index0 }}" class="form-select"
                        aria-label="Select column type for {{ col }}">
                    {% for coltype in coltypes %}
                        <option value="{{ coltype }}"
                                {% if request.form["column" ~ outer_loop.index0] == coltype or selected_values["column" ~ outer_loop.index0] == coltype %}
                                selected
                                {% endif %}>
                            {{ coltype }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}

        <div class="mb-2 text-center">
            <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
    </form>
{% endblock %}